/*
 * Prepend GitLab Styles
 *= require "../../../../app/assets/stylesheets/application"
 */

/* Bootstrap variables and mixins that we can reference in our own files */
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Bring in GitLab's variables and mixins */
@import "framework/variables";
@import "framework/mixins";

/* Our own boostrap style overrides */
@import "perforce_swarm/bootstrap";

/* Import jstree theme */
@import "jstree-default";

/* Styles for our navbar */
@import "perforce_swarm/navbar";

/* Styles for the sidebar */
@import "perforce_swarm/sidebar";

/* Require login styles */
@import "perforce_swarm/login";

/* Include version check flash messages */
@import "perforce_swarm/version_check";

/* Include project page tweaks */
@import "perforce_swarm/projects";

.project-home-panel .helix-mirrored-status-label {
  cursor: default;
}

i.fa-p4-depot-icon, .jstree-icon.fa-p4-depot-icon {
  background-image: image-url('p4-depot-icon.png');
  background-position: center center;
  position: relative;
}

i.fa-p4-depot-folder, .jstree-icon.fa-p4-depot-folder {
  background-image: image-url('p4-depot-folder.png');
  background-position: center center;
  position: relative;
}

i.fa-p4-badge:after {
  content: '';
  position: absolute;
  line-height: 24px;
  width: 18px;
  height: 18px;
  right: 3px;
  bottom: 3px;
}

i.fa-p4-stream-badge:after {
  background-image: image-url('p4-stream-badge.png');
  background-position: center center;
}

i.fa-helix-icon {
  height: 13px;
  width: 8px;
  margin-right: 3px;
}

i.fa-helix-icon.fa-white {
  background: image-url('helix-icon-white.png') center center;
}

i.fa-helix-icon.fa-black {
  background: image-url('helix-icon-black.png') center center;
}

a.btn i.fa-helix-icon.fa-black {
  margin-right: 5px;
}

ul.sidebar-subnav i.fa-helix-icon.fa-white {
  width: 8px !important;
  margin-left: 3px;
}

ul.sidebar-subnav span.helix-mirroring-item {
  padding-left: 4px;
}

.helix-error {
  margin: 1em 0;
}

p.fixed-width {
  font-family: monospace;
  padding: 10px;
  margin: 0 0 10.5px;
  word-break: break-all;
  word-wrap: break-word;
  color: #5a5a5a;
  background-color: #f8fafc;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}
