/* Custom navbar for our NavBar */
header.navbar-gitlab .container-fluid {
  /* Style the dashboard title and dropdown */
  .dashboard-menu {
    position: relative;
    float: left;
    max-width: 37%;
    display: inline-block;

    .dropdown-menu {
      margin-top: 0px;

      .str-truncated {
        max-width: 100%
      }
    }

    li.current a {
      font-weight: bold;
    }

    .title {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .caret {
      margin-bottom: 1px;
    }

    &.dropdown {
      .title {
        cursor: pointer;
      }
    }
  }

  .dashboard-menu.dropdown {
    &:hover {
      background-color: #E6E6E6;
    }
  }
  .nav > li > a {
    &:hover, &:focus, &:active {
      background: #E6E6E6;
    }
  }

  /* Center and properly size the nav area */
  .nav {
    > li {
      > a {
        padding: 6px 21px;
        line-height: 46px;
        background-color: transparent;
        margin: 0;
        border-radius: 0;
        height: auto;
        width: auto;

        > i.fa {
          width: 16px;
          text-align: center;
        }
      }

      .navbar-toggle {
        border: none;
      }

      .caret {
        margin-left: 4px;
      }

      .profile-pic {
        padding: 9px 6px 9px 14px !important;
        line-height: 38px;
        margin-left: 0;
        width: auto;
        height: 58px;
        top: 0;
        img {
          width: 26px;
          height: 26px;
          margin: 0;
          border-radius: 4px;
        }
      }

      /* Hide tooltips when dropdowns are open */
      &.dropdown.open .tooltip {
        display: none !important;
      }
    }
  }

  .recent-project-access-icon {
    padding-right: 2px;
  }

  @media (max-width: $screen-xs-max) {
    /* Restore bootstrap defaults, as GitLab's styles do some weird sizing here */
    .navbar-nav {
      margin: 0px;
      float: right !important;

      > li {
        display: list-item;
        width: auto;
        float: left;
      }
    }

    .dashboard-menu .title {
      max-width: 100% !important;
    }

    /**
    * Override small nav dropdown size rules, so that our
    * dropdown menus still appear as regular dropdown.
    * These rules are taken from the bootstrap sass files.
    */
    .open .dropdown-menu {
      position: absolute;
      float: left;
      margin-top: 0;
      background-color: $dropdown-bg;
      border: 1px solid $dropdown-fallback-border; // IE8 fallback
      border: 1px solid $dropdown-border;

      .active > a {
        color: #000;
        background-color: transparent;
        font-weight: bold;

        &:hover, &:focus {
          color: #FFF;
          background: #446e9b;
        }
      }

      li {
        display: list-item;
        width: 100%;
      }

      .dropdown-header, > li > a {
        line-height: 18px;
        padding: 5px 15px 5px 25px;
      }

      > li > a {
        text-align: left;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
    .navbar-right .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}

#nprogress .spinner {
  display: none;
}
