%div
  %h1
    GitSwarm
    - if PerforceSwarm.ee?
      Enterprise Edition
    %span= PerforceSwarm::VERSION
    %small= Gitlab::REVISION
- if PerforceSwarm.ee? && help_text.present?
  %hr
  %p.slead
    = markdown(help_text)
- else
  %p.slead
    GitSwarm is Helix's Git frontend based on $GitLab$ #{Gitlab::VERSION}
    %br
    Manage git repositories with fine grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Read more about GitSwarm at #{link_to promo_host, promo_url, target: '_blank'}.
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        - override_doc_dir = PerforceSwarm.ee? ? 'doc-ee' : 'doc-ce'
        - readme_text = File.read(Rails.root.join("perforce_swarm", override_doc_dir, "README.md"))
        - text = readme_text.dup
        - readme_text.scan(/\]\(([^(]+)\)/) { |match| text.gsub!(match.first, "help/#{match.first}") }
        = markdown text

  .col-md-4
    .panel.panel-default
      .panel-heading
        Quick help
      %ul.well-list
        %li
          Contact us for
          = link_to 'further assistance', promo_url + '/company/contact-us'
        %li
          Use the
          = link_to 'search bar', '#', onclick: 'Shortcuts.focusSearch(event)'
          on the top of this page
        %li
          Use
          = link_to 'shortcuts', '#', onclick: 'Shortcuts.showHelp(event)'
