%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  %div{ class: fluid_layout ? "container-fluid" : "container-fluid" }
    .header-content
      - if !@recent_projects.nil?
        %div.dropdown.dashboard-menu
          %h1.dropdown-toggle.title{'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'tabIndex' => '0' }
            = title
            %span.caret
          %ul.dropdown-menu{role: 'menu',
              'aria-label' => 'Dashboard Menu',
              'data-recent-updated' => projects_to_simple_json(@recent_projects)}
            %li{role: 'menuitem', class: current_route?('dashboard#show') ? 'current' : ''}
              = link_to root_path do
                Dashboard
            %li{role: 'menuitem', class: current_route?('projects#starred') ? 'current' : ''}
              = link_to starred_dashboard_projects_path do
                View My Starred Projects
            %li{role: 'menuitem', class: current_route?('projects#index') ? 'current' : ''}
              = link_to explore_projects_path do
                View All Projects
      - else
        %div.dashboard-menu
          %h1.title
            = title

      %ul.nav.navbar-nav.pull-right
        - unless @disable_search_panel
          %li.hidden-sm.hidden-xs
            = render 'layouts/search'
        %li.visible-sm.visible-xs
          = link_to search_path, title: 'Search', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
            = icon('search')
        - if session[:impersonator_id]
          %li.impersonation
            = link_to admin_impersonation_path, method: :delete, title: 'Stop Impersonation', data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } do
              = icon('user-secret fw')
        - if current_user.is_admin?
          %li
            = link_to admin_root_path, title: 'Admin Area', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('wrench fw')
        - if current_user.can_create_project?
          %li
            = link_to new_project_path, title: 'New project', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('plus fw')
        - if Gitlab::Sherlock.enabled?
          %li
            = link_to sherlock_transactions_path, title: 'Sherlock Transactions',
              data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('tachometer fw')
        %li
          = link_to destroy_user_session_path, class: 'logout', method: :delete, title: 'Sign out', data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
            = icon('sign-out')

= render 'shared/outdated_browser'
- if @project && !@project.empty_repo?
  :javascript
    var findFileURL = "#{namespace_project_find_file_path(@project.namespace, @project, @ref || @project.repository.root_ref)}";
