- git_fusion_url   = git_fusion_url(@project)
- has_fusion_url   = git_fusion_url && !git_fusion_url.empty?
- can_reenable     = mirroring_permitted?(@project, current_user) && mirroring_configured? && has_fusion_url
- button_class     = 'btn btn-save helix-mirroring' + (can_reenable ? '' : ' disabled')
- reenable_tooltip = helix_reenable_mirroring_tooltip(@project)
- error            = git_fusion_server_error || mirroring_errors(@project, current_user)
- error            = nil unless error && !error.empty?
%p
  Mirroring for this project has been disabled.
%p
  This project was previously mirroring the
  = "'#{@project.git_fusion_server_id}'"
  Helix Git Fusion server on the repo
  = "'#{@project.git_fusion_repo_name}'"
%p
  - if can_reenable
    Git Fusion URL:
    = git_fusion_url
    %br
    %em Note: This is the URL on which Git Fusion is hosting this repository. If you wish to clone the GitSwarm project, you should use the URL specified on the
    = link_to('project details page.', project_path(@project))
  - else
    - if error
      = render partial: 'perforce_swarm/git_fusion/projects/mirroring_config_errors'
    - else
      .helix-error
        %h4 Error:
        %p.fixed-width
          = reenable_tooltip
        %p
          = link_to help_page_path('workflow', 'helix_mirroring', 'configuration') do
            %strong= 'Please fix the configuration'
          to re-enable mirroring for this project.

.reenable-mirror-wrapper
  = link_to '#', class: button_class do
    = icon 'helix-icon white'
    Re-enable Helix Mirroring
  .reenable-status
- reenable_error = @project.git_fusion_reenable_error
- params = { reenable_url: reenable_helix_mirroring_perforce_swarm_git_fusion_path(project_id: @project.id) }
- params[:reenable_status_url] = reenable_helix_mirroring_status_perforce_swarm_git_fusion_path(project_id: @project.id)
- params[:status] = @project.git_fusion_reenable_status
- params[:error]  = reenable_error.is_a?(String) ? reenable_error.strip : reenable_error
- params[:success_redirect] = reenable_helix_mirroring_redirect_perforce_swarm_git_fusion_path(project_id: @project.id)
:javascript
  var reenable_helix_mirroring = new ReenableHelixMirroring(#{params.to_json});
