= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, dashboard_projects_url(format: :atom, private_token: current_user.private_token), title: "All activity")

- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

-# gitswarm changes start
- if show_version_check?
  = render 'shared/version_check'
-# gitswarm changes end

= render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any?
  = render 'projects'
- else
  = render "zero_authorized_projects"
